@use 'base/mixins' as m;
@use 'base/variables' as v;

.horas{

    @include m.reset-lista;
    @include m.grid(1,1rem);
    @include m.tablet {
        @include m.grid(2,1rem);
    }

    &__hora{
        color: v.$azul;
        border: 1px solid v.$azul;
        padding: 1rem;
        text-align: center;
        border-radius: 2rem;

        &:hover{
            cursor: pointer;
            background-color: v.$azul;
            color: v.$blanco;
        }

        &--seleccionada{
            @extend .horas__hora;
            background-color: v.$azul;
            color: v.$blanco;
          
        }

        &--desactivada{
            @extend .horas__hora;
           
            border: 1px solid v.$gris;
            color: v.$gris;

            &:hover{
                
                cursor: not-allowed;
                border: 1px solid v.$gris;
                color: v.$gris;
                background-color: v.$blanco;
                
            }
        }

        
    }
}